---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero3.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About TheOpenSource.community"
    image={{
      src: '~/assets/images/about.png',
      alt: '\"An Ibis Perched on a Branch\" by Dirk Schuneman',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent">About</span> <br />
      <span class="text-accent dark:text-accent highlight">TheOpenSource.community</span>
    </Fragment>

  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="What are we all about, anyway?"
    subtitle="Get the deets."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Who we are',
        description:
          'Currently, we are simply two individuals who would like to support our favorite open source projects and enable positive changes to the developer experience both internally within each project and externally for those who wish to contribute to or use each project, regardless of starting expertise.',
        icon: 'tabler:template',
      },
      {
        title: 'Why we exist',
        description:
          'It\'s so common to see open source projects & events looking for volunteers, and developers needing resources to get started or easily understandable guides to actually contribute to the project. Our aim is to reduce or remove that gap in connection between the two.',
        icon: 'tabler:template',
      },
      {
        title: 'Our symbolism',
        description:
          'The ibis represents Thoth, who is known as Knowledge itself and is the ancient Egyptian Keeper of the Mysteries, along with the patron of scribes and creator of writing itself. Likewise, the feather belongs to Ma\'at, the goddess of truth, justice, balance, and most importantly, order.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our mission"
    subtitle="While we're starting small, our dream is to grow this project to the point that we're supporting many communities, and enabling individuals to be a part of those communities however they choose.\</br\>\</br\>There are more than a few ways in which we plan to aid open source projects and developers, but here are three in particular:"
    items={[
      {
        title: 'Provide resources',
        description:
          'We\'ll be maintaining a list of resources for different purposes: these include topics such as how to run a user group, how to create a presentation and public speak, best practices for social media management, and how to advocate for your project or your personal brand.',
      },
      {
        title: 'Enable quickstarts',
        description:
          'Many projects don\'t have an easy breakdown of what the project is about, how to get started, where to connect with the community, and how to find community advocates promoting education and awareness for interested developers. We\'ll provide that info for all projects we support.',
      },
      {
        title: 'Support contributions',
        description:
          'Contributing to open source projects can often be complex or subject to many onboarding challenges. We plan to work with communities upstream to make incremental changes to improve the contribution process, help them to document everything clearly and well, and connect projects with willing contributors.',
      },
    ]}
  />

  <!-- Features2 Widget ****************** -->

  <Features2
    title="Our dedication"
    subtitle="In part, this effort is dedicated to Simon Riggs, a remarkable individual who made a significant impact on the PostgreSQL community during his lifetime. He passed away very unexpectedly in a manner that we feel reminded the community how fragile everything truly was; how the great leaders of the project who have been so committed to dedicating effort to the project and managing the direction and growth won't always be there to ensure the same.\<br/\>\<br/\>At the time of Simon's passing, the infrastructure and ecosystem was set up in a way that made contributing to the project nigh impossible, even for those who were very motivated to do so. This is still the case, and so, theopensource.community seeks to not only achieve what is stated in the beginning of this page, but also to contribute positively to the lasting maintenance and upkeep of these amazing open-source projects that our world's infrastructure runs on. We seek to enable the longevity of these communities, help new projects launch with a solid and lasting foundation, and provide aid for the communities that need  help in reworking outdated processes and systems.\<br/\>\<br/\>\<b\>We help communities come together, with the help of the community - both from individuals, and as a whole.\</b\>"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

</Layout>
