---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- TODO: Implement form handling code -->
  <!-- HeroText Widget *******************

  <HeroText tagline="Contact" title="Need to get in touch?" />

  <ContactUs
    id="form"
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  />

  -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Need to get in touch?"
    items={[
      {
        title: 'Contributions',
        description: 
          `Have a suggestion for unlisted resources, general feedback, bug reports, or would like to assist as a technical or non-technical volunteer? We would certainly welcome the help.`,
      },
      {
        title: 'General inquiries',
        description:
          'If you have specific questions that aren\'t answered here on the site or on our GitHub, feel free to reach out to us directly via email, anytime. One of us will answer as soon as we can.',
      },
      {
        title: 'Join the community',
        description:
          'Follow any of our social networks to keep an eye out for announcements, news, community advocacy, events, resources, and other topics relating to open source & DevRel.',
      },
      {
        title: 'Project',
        description: '<a rel="noreferrer" target="_blank" href="https://github.com/theopensource-community/website/">GitHub</a><br /><a rel="noreferrer" target="_blank" href="https://github.com/theopensource-community/website/discussions">Forum</a>',
        icon: 'tabler:brand-github',
        custom: 'text-blue-600 underline dark:text-muted',
      },
      {
        title: 'Email',
        description: '<a rel="noreferrer" target="_blank" href="mailto:contact@theopensource.community">contact@theopensource.community</a>',
        icon: 'tabler:mail',
        custom: 'text-blue-600 underline dark:text-muted',
      },
      {
        title: 'Social',
        description: 
          '<a rel="noreferrer" target="_blank" href="https://www.linkedin.com/company/theopensource-community/">LinkedIn</a><br /><a rel="noreferrer" target="_blank" href="https://floss.social/@theopensource_community">Mastodon</a>',
        icon: 'tabler:mood-smile-beam',
        custom: 'text-blue-600 underline dark:text-muted',
      },
    ]}
  />
</Layout>
