---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
/* import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro'; */
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'The Open Source Community',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Watch us on GitHub',
        href: 'https://github.com/theopensource-community/website/',
        target: '_blank',
        icon: 'tabler:binoculars',
      },
      { 
        text: 'Get in touch', 
        href: getPermalink('/contact'),
        icon: 'tabler:message-chatbot',
      },
    ]}
  >
    <Fragment slot="title">
      Seeking to 
      <span class="text-primary dark:text-white highlight">support & uplift</span> open source communities 🪶
    </Fragment>

    <Fragment slot="subtitle">
      We're here to support <span class="font-semibold">developers, end users, and open source projects</span> through providing resources for all and helping users get started working with or contributing to projects quickly.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="comingsoon"
    tagline="Coming soon"
    title="What we plan to do"
    subtitle="Laying out all our plans and aspirations, to enable others who want to be involved"
    items={[
      {
        title: 'Support virtual & in-person events',
        description:
          'Help organizers obtain sponsors, lock in a location, find speakers, enable diversity & accessibility, connect with available volunteers, have support through advocacy, etc. no matter whether they\'re a user group, conference, or someone looking to host a one-time event.',
        icon: 'tabler:calendar-event',
      },
      {
        title: 'Help speakers',
        description:
          'Compile and host resources designed to help speakers find events to speak at, be found by events looking for speakers, build their personal brand, meet with others willing to review ideas, abstracts, slides, or initial presentations, and learn how to improve their public speaking skills.',
        icon: 'tabler:speakerphone',
      },
      {
        title: 'Promote educational initiatives',
        description:
          'Provide training sessions, educational content, office hours, and mentorship programs connecting willing mentors with those who would like to learn how to contribute to or hack on different open source technologies available within our supported projects.',
        icon: 'tabler:school',
      },
      {
        title: 'Provide software licenses & hardware',
        description:
          'Acquire and disperse software licenses & hardware to individuals in need as part of programs designed to foster diversity & inclusion. Targets include schools, career building programs, and local communities as well as a generally available scholarship program.',
        icon: 'tabler:terminal-2',
      },
      {
        title: 'Encourage participation',
        description:
          'Create quickstarts and tailored community landing pages for open source projects, host programs connecting contributors and projects, run hackathons, and fund giveaways & lotteries as incentives for engagement from contributors, users, and developers.',
        icon: 'tabler:device-desktop',
      },
      {
        title: 'Fund volunteer efforts',
        description:
          'Help open source projects in need of advocacy, design, marketing, development, content, or workflow contributions through bounty programs, consultations, and matching willing individuals with projects. For all programs, funding and/or incentives will be offered where possible.',
        icon: 'tabler:mood-dollar',
      },
    ]}
  />

  <!--

  <!-- Content Widget **************** 

  <Content
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** 

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** 

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** 

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  -->

  <!-- HighlightedPosts Widget ******* 

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  -->

  <!-- Stats Widget ****************** -->

  <Stats
    title="We need *your* help to grow these numbers!"
    stats={[
      /* { title: 'Supported projects', amount: '1' }, */
      { title: 'Site maintainers', amount: '2' },
      { title: 'GitHub watchers', amount: '2' },
      { title: 'Sponsors', amount: '0' },
      /* { title: 'Forum posts per week', amount: '12' }, */
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="How can I take part in this project?"
    subtitle="No matter who you are or what you're interested in, we have a number of ways you can participate in or benefit from TheOpenSource.community."
    tagline="Get involved"
    items={[
      {
        title: 'Projects',
        description: "We need community leaders, advocates, and representatives of FOSS projects to help us support you on this site!",
        icon: 'flat-color-icons:command-line',
      },
      {
        title: 'Events',
        description:
          "All FOSS events, meetups, & conferences (in-person & virtual) that need help or want to advertise, tell us about it.",
        icon: 'flat-color-icons:planner',
      },
      {
        title: 'Speakers',
        description:
          'Get in touch to stay tuned for resources, share what you have, or eventually connect with events & be contacted to speak.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Mentors',
        description:
          "Individuals experienced in any specific OSS software or skillset are encouraged to join our upcoming mentorship program.",
        icon: 'flat-color-icons:like',
      },
      {
        title: 'Educational institutions',
        description:
          'If you\'re a school, university, bootcamp, transition program, or otherwise and want to benefit your students, let\'s partner.',
        icon: 'flat-color-icons:graduation-cap',
      },
      {
        title: 'Nonprofits',
        description: 'Have your own nonprofit or program where you\'re working to change the world of tech or help others to level up?',
        icon: 'flat-color-icons:biomass',
      },
      {
        title: 'Contributors',
        description: 'We need help in everything from marketing, design, development, advocacy, content, public speaking, UX, etc.',
        icon: 'flat-color-icons:support',
      },
      {
        title: 'Organizers',
        description: 'Own a specific effort or initiative on our organizational committee to see efforts through and ensure progress.',
        icon: 'flat-color-icons:close-up-mode',
      },
      {
        title: 'Advocates',
        description: "Foster relationships between open source projects and developers through developer advocacy on our team.",
        icon: 'flat-color-icons:advertising',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="I'm interested in sponsorship!"
    subtitle="Whether you're an individual or a company looking to help fund this community effort, every bit helps support open source projects and the individuals that use and contribute to the same."
    tagline="Support a worthy cause - get recognition"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why sponsor?',
        description:
          "Because you'll help make a HUGE difference, of course! We need the assistance for getting up and running, obtaining software and equipment for our team as well as for others through our programs, funding contributors, and much more.",
      },
      {
        title: 'Can I choose what initiatives to fund?',
        description:
          'Absolutely! If you have an idea already in mind, let us know, else we have a list of specific needs that funding would help us immensely with as well as initiatives that your support could help enable.',
      },
      {
        title: 'What do I get out of it?',
        description:
          "It's totally flexible and up for discussion! We have a few ideas in mind - including different levels of recognition on our website and/or social media - but we're happy to work with you on what would be best for you.",
      },
      {
        title: "Can a custom sponsorship package be assembled?",
        description:
          "Definitely. Just get in touch and let us know what you're thinking, and we'll get back to you with details on our end so we can put together a package that works for all involved.",
      },
      {
        title: 'How can I reach out to sponsor?',
        description:
          "Please reach out to us at sponsors@theopensource.community and we'll get back to you with more details on exactly what's available to fund, different ways you can sponsor us, and how we can best recognize you for your generous contributions.",
      },
      {
        title: 'What if I just want to make a one-time donation?',
        description:
          "We really appreciate you wanting to do so! We plan to support PayPal, Venmo, Apple Cash, and BuyMeACoffee. Please get in touch at contact@theopensource.community if there's something else you had in mind.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Connect with the community',
        href: getPermalink('/contact'),
        target: '_blank',
        icon: 'tabler:messages',
      },
    ]}
  >
    <Fragment slot="title">
      Excited?
    </Fragment>

    <Fragment slot="subtitle">
      So are we. Let's get in touch, and stay connected.
    </Fragment>
  </CallToAction>
</Layout>
